/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2016, 13:49:55
    Author     : admin
*/

body {
                color: purple;
                background-color: #1C1C1C }
            h1 {
                align-content: center;
                text-align: center;
                text-decoration: none;
                font-family: Comic sans ms;
            }
            a,a:visited {
                color: yellow;
                text-decoration: none;
            }
            a:hover {
                color: yellow;
                text-decoration: underline;
            }